.dart_tool/
.packages
build/
.flutter-plugins
.flutter-plugins-dependencies
*.iml
.idea/
.vscode/
android/app/debug
android/app/profile
android/app/release
android/app/build/
*.apk
*.aab
*.jks
*.keystore
key.properties
